<div id="big-form" class="well auth-box">

<div class="row jobs-show">
  <div class="col-md-12 col-lg-10 col-lg-offset-1">
    <div class="pull-right">
          <a class="btn btn-info btn-sm disabled" data-method="get" href="/jobs/20/resumes/new">Has Applied</a>
    </div>
    <p><a href="/jobs/20">fghdfsb</a></p>


    <div class="row">
      <div class="col-md-6">
        <p>Salary: 100 ~ 100 </p>
      </div>
      <div class="col-md-6">
        <p><i class="fa fa-address-card-o" aria-hidden="true"></i>  developer</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <span><i class="fa fa-user-circle-o" aria-hidden="true"></i>  dbsdbv</span>
      </div>
      <div class="col-md-3 col-sm-6">
        <span><i class="fa fa-location-arrow" aria-hidden="true"></i>  sdvds</span>
      </div>
      <div class="col-md-3 col-sm-6">
        <span><i class="fa fa-clock-o" aria-hidden="true"></i>  6 days ago</span>
      </div>
      <div class="col-md-3 col-sm-6">
        <span><i class="fa fa-envelope" aria-hidden="true"></i>  svbsd</span>
      </div>
    </div>
  </div>
</div>

</div>
