<div>
  <br>
  <% if @query_string.blank? %>
    <div class="search-info-title">
      Sorry, The search content cannot be blank, please type some product into to search.
    </div>
  <% elsif @jobs.blank? %>
    <br>
    <h2 class="search-info-title">搜索信息不能为空，请输入关键字搜索</h2>
  <% else %>
    <h2 class="search-info-title"> 有关"<%= @query_string %>"的工作信息 </h2>
    <div class="tabs_item">
      <div class="container_table">
        <table class="table">
          <thead>
            <tr>
              <th>Title</th>
              <th>Salary</th>
              <th>Category</th>
              <th>Company</th>
              <th>City</th>
              <th>Posted</th>
            </tr>
          </thead>
          <%= render partial: "job_item_table", collection: @jobs, as: :job %>
        </table>
      </div>

    <div class="text-center">
      <%= will_paginate(@jobs, renderer: BootstrapPagination::Rails) %>
    </div>

  <% end %>
</div>
