<div id="big-form" class="well auth-box">

<div class="row">
      <div class="col-md-12 col-lg-10 col-lg-offset-1">
        <div class="pull-right">
          <a href="/admin/jobs/21/edit">Edit</a> |
          <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/admin/jobs/21">Destroy</a> |
            <a rel="nofollow" data-method="post" href="/admin/jobs/21/publish">Publish</a> |
          <a href="/admin/jobs/21/resumes">Resumes Count</a> <span class="badge">1</span></label>
        </div>

        <p>
          <sapn class="fa fa-lock"></sapn>
          <a href="/admin/jobs/21">项目经理</a>
        </p>
        <div class="row">
          <div class="col-md-6">
            <p>Salary: 5000 ~ 10000 </p>
          </div>
          <div class="col-md-6">
            <p><i class="fa fa-address-card-o" aria-hidden="true"></i>  developer</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <span><i class="fa fa-user-circle-o" aria-hidden="true"></i>  haven</span>
          </div>
          <div class="col-md-3 col-sm-6">
            <span><i class="fa fa-location-arrow" aria-hidden="true"></i>  wuhan</span>
          </div>
          <div class="col-md-3 col-sm-6">
            <span><i class="fa fa-clock-o" aria-hidden="true"></i>  4 days ago</span>
          </div>
          <div class="col-md-3 col-sm-6">
            <span><i class="fa fa-envelope" aria-hidden="true"></i>  xxx@xxx.com</span>
          </div>
        </div>
      </div>
    </div>
  <div class="text-center">
  </div>
</div>
