<div class="col-md-12">
  <div class="auth">
      <h1 class="text-center">Welcom to WORK.LIFE <span>Post jobs</span> </h1>
        <form>

<div class="pull-right">
  <%= link_to("Add a job", new_admin_job_path, :class => "btn btn-default" ) %>
</div>

<br><br>

<%= render :partial => "job_item", :collection => @jobs, :as => :job %>

</form>

<div class="clearfix"></div>
</div>
</div>
