<div class="col-md-8  col-md-offset-2">
  <div class="auth">
    <div id="big-form" class="well auth-box">
      <!-- <form> -->
        <fieldset>
          <h1> Add a Job </h1>
          <hr>
          <%= render "form" %>
        </fieldset>
      <!-- </form> -->
    </div>
  </div>
</div>
